body{
    background-color:gray ;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 0cap;
    margin-inline: auto;
    font-size: large;
}
img{
    height: 150px;
     
    
    

}
div{
    padding: 5px;
    margin: 10px;
    
    
    
    
}
h2{
    color: indigo;
    font-size: bold;
}

